body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: violet;
    font-size: 1.5rem;
    padding: 2rem;
    text-transform: uppercase;
}

.header>div>a {
    text-decoration: none;
    color: black;
    margin: 2rem;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
}

th {
    background-color: gold;
}

th,
td {
    padding: 15px;
}

.links {
    font-size: 25px;
}

.index-page {
    display: flex;
    justify-content: center;
}

.id-line {
    color: blue;
}